@use "../abstracts/core";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 75%;

  @include core.respond(bdesk) {
    font-size: 62.5%; // 1rem = 12px
  }

  @include core.respond(tland) {
    font-size: 56.25%; // 1rem = 9px
  }

  @include core.respond(tport) {
    font-size: 50%; // 1rem = 8px
  }
}

body {
  background-color: core.$color-primary;
}
